# Pandas



It contains high-level data structures and manipulation tools designed to make data analysis fast and easy in Python. pandas is built on top of NumPy and makes it easy to use in NumPy-centric applications.

In [ ]:
# ! pip install --upgrade pandas

In [3]:
# data reading and manipulation libraries
import numpy as np
import pandas as pd
# plotting libraries
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns
# Machine learning tools
import sklearn
from sklearn import (metrics, model_selection, feature_selection,
                     preprocessing, naive_bayes, linear_model)
from sklearn.neighbors import KNeighborsRegressor
from sklearn.decomposition import PCA
print(f"Numpy:        {np.__version__}")
print(f"Pandas:       {pd.__version__} <- ensure this is 2.0 or higher")
print(f"Matplotlib:   {matplotlib.__version__}")
print(f"Seaborn:      {sns.__version__}")
print(f"Scikit-learn: {sklearn.__version__}")

Numpy:        1.21.5
Pandas:       2.0.3 <- ensure this is 2.0 or higher
Matplotlib:   3.5.1
Seaborn:      0.12.2
Scikit-learn: 1.3.0

# PART1 Data Structures

To get started with pandas, you will need to get comfortable with its two workhorse data structures: Series and DataFrame. While they are not a universal solution for every problem, they provide a solid, easy-to-use basis for most applications.

# Series

A Series is a one-dimensional array-like object containing an array of data (of any NumPy data type) and an associated array of data labels, called its index. The simplest Series is formed from only an array of data:

In [4]:
from pandas import Series, DataFrame

In [5]:
import pandas as pd

In [6]:
obj = Series([4, 7, -5, 3])

In [7]:
obj

0    4
1    7
2   -5
3    3
dtype: int64

In [9]:
#read the numerical values only

obj.values

array([ 4,  7, -5,  3])

In [10]:
#read index 
obj.index

RangeIndex(start=0, stop=4, step=1)

Often it will be desirable to create a Series with an index identifying each data point:

In [11]:
obj2 = Series([4, 7, -5, 3], index=['d', 'b', 'a', 'c'])

In [12]:
obj2

d    4
b    7
a   -5
c    3
dtype: int64

In [13]:
obj2.index

Index(['d', 'b', 'a', 'c'], dtype='object')

In [14]:
#what is the attribute of a

obj2['a']

-5

Change an element:

In [15]:
obj2['d'] = 6

In [16]:
obj2[['c', 'a', 'd']]

c    3
a   -5
d    6
dtype: int64

filtering with a boolean array, scalar multiplication, or applying math functions, will preserve the index-value link:

choose only values in obj2 > 0

In [17]:
obj2[obj2>0]

d    6
b    7
c    3
dtype: int64

Multiply all values by a factor 2

In [18]:
obj2*2

d    12
b    14
a   -10
c     6
dtype: int64

In [19]:
np.exp(obj2)

d     403.428793
b    1096.633158
a       0.006738
c      20.085537
dtype: float64

New data: create a series

In [20]:
sdata = {'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000}

In [21]:
obj3 = Series(sdata)

In [22]:
obj3

Ohio      35000
Texas     71000
Oregon    16000
Utah       5000
dtype: int64

# DataFrame

A DataFrame represents a tabular, spreadsheet-like data structure containing an ordered collection of columns, each of which can be a different value type (numeric, string, boolean, etc.).

In [23]:
data = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada'], 'year': [2000, 2001, 2002, 2001, 2002],
'pop': [1.5, 1.7, 3.6, 2.4, 2.9]}
frame = DataFrame(data)

The resulting DataFrame will have its index assigned automatically as with Series, and the columns are placed in sorted order:

In [24]:
frame

    state  year  pop
0    Ohio  2000  1.5
1    Ohio  2001  1.7
2    Ohio  2002  3.6
3  Nevada  2001  2.4
4  Nevada  2002  2.9

Order of columns is specified:

In [25]:
DataFrame(data, columns=['year', 'state', 'pop'])

   year   state  pop
0  2000    Ohio  1.5
1  2001    Ohio  1.7
2  2002    Ohio  3.6
3  2001  Nevada  2.4
4  2002  Nevada  2.9

Change the order of columns:

In [26]:
DataFrame(data, columns=['state','pop','year' ])

    state  pop  year
0    Ohio  1.5  2000
1    Ohio  1.7  2001
2    Ohio  3.6  2002
3  Nevada  2.4  2001
4  Nevada  2.9  2002

As with Series, if you pass a column that isn’t contained in data, it will appear with NA values in the result:

In [27]:
frame2 = DataFrame(data, columns=['year', 'state', 'pop', 'debt'], 
                   index=['one', 'two', 'three', 'four', 'five'])

In [28]:
frame2

       year   state  pop debt
one    2000    Ohio  1.5  NaN
two    2001    Ohio  1.7  NaN
three  2002    Ohio  3.6  NaN
four   2001  Nevada  2.4  NaN
five   2002  Nevada  2.9  NaN

Let's drop the column from data

In [30]:
frame3=frame2.drop(columns=['debt'])

In [31]:
frame3

       year   state  pop
one    2000    Ohio  1.5
two    2001    Ohio  1.7
three  2002    Ohio  3.6
four   2001  Nevada  2.4
five   2002  Nevada  2.9

Another common form of data is a nested dict of dicts format:

In [32]:
pop = {'Nevada': {2001: 2.4, 2002: 2.9},
       'Ohio': {2000: 1.5, 2001: 1.7, 2002: 3.6}}

In [33]:
frame3 = DataFrame(pop)

In [34]:
frame3

      Nevada  Ohio
2001     2.4   1.7
2002     2.9   3.6
2000     NaN   1.5

# Handling Missing Data

Missing data is common in most data analysis applications. One of the goals in de- signing pandas was to make working with missing data as painless as possible.

In [35]:
string_data = Series(['aardvark', 'artichoke', np.nan, 'avocado'])

In [36]:
string_data

0     aardvark
1    artichoke
2          NaN
3      avocado
dtype: object

pandas uses the floating point value NaN (Not a Number) to represent missing data in both floating as well as in non-floating point arrays. It is just used as a sentinel that can be easily detected:

# Filtering Out Missing Data

You have a number of options for filtering out missing data. While doing it by hand is always an option, dropna can be very helpful. On a Series, it returns the Series with only the non-null data and index values:

In [37]:
from numpy import nan as NA

In [38]:
data = Series([1, NA, 3.5, NA, 7])

In [39]:
data.dropna()

0    1.0
2    3.5
4    7.0
dtype: float64

Naturally, you could have computed this yourself by boolean indexing:

In [40]:
data[data.notnull()]

0    1.0
2    3.5
4    7.0
dtype: float64

With DataFrame objects, these are a bit more complex. You may want to drop rows or columns which are all NA or just those containing any NAs.

In [41]:
data = DataFrame([[1., 6.5, 3.], [1., NA, NA], 
                  [NA, NA, NA], [NA, 6.5, 3.]])

dropna by default drops any row containing a missing value:

In [42]:
cleaned = data.dropna()

In [43]:
data

     0    1    2
0  1.0  6.5  3.0
1  1.0  NaN  NaN
2  NaN  NaN  NaN
3  NaN  6.5  3.0

In [44]:
cleaned

     0    1    2
0  1.0  6.5  3.0

Passing how='all' will only drop rows that are all NA:

In [45]:
data.dropna(how='all')

     0    1    2
0  1.0  6.5  3.0
1  1.0  NaN  NaN
3  NaN  6.5  3.0

Dropping columns in the same way is only a matter of passing axis=1:

Generate a column:

In [46]:
data[4]=NA

In [47]:
data

     0    1    2   4
0  1.0  6.5  3.0 NaN
1  1.0  NaN  NaN NaN
2  NaN  NaN  NaN NaN
3  NaN  6.5  3.0 NaN

In [48]:
data.dropna(axis=1, how='all')

     0    1    2
0  1.0  6.5  3.0
1  1.0  NaN  NaN
2  NaN  NaN  NaN
3  NaN  6.5  3.0

A related way to filter out DataFrame rows tends to concern time series data. Suppose you want to keep only rows containing a certain number of observations. You can indicate this with the thresh argument:

In [49]:
df = DataFrame(np.random.randn(7, 3))

In [51]:
df.iloc[:4, 1] = NA; df.iloc[:2, 2] = NA

In [52]:
df

          0         1         2
0  0.578065       NaN       NaN
1  1.568490       NaN       NaN
2  0.205591       NaN -1.469113
3 -0.295382       NaN -0.469203
4  0.848102 -0.494848 -0.909894
5 -0.030218  1.297651  0.320896
6  0.853856  0.040262  0.803036

In [53]:
df.dropna(thresh=3)

          0         1         2
4  0.848102 -0.494848 -0.909894
5 -0.030218  1.297651  0.320896
6  0.853856  0.040262  0.803036

# Filling in Missing Data

Rather than filtering out missing data (and potentially discarding other data along with it), you may want to fill in the “holes” in any number of ways. For most purposes, the fillna method is the workhorse function to use. Calling fillna with a constant replaces missing values with that value:

In [54]:
df.fillna(0)

          0         1         2
0  0.578065  0.000000  0.000000
1  1.568490  0.000000  0.000000
2  0.205591  0.000000 -1.469113
3 -0.295382  0.000000 -0.469203
4  0.848102 -0.494848 -0.909894
5 -0.030218  1.297651  0.320896
6  0.853856  0.040262  0.803036

In [55]:
df.fillna({1: 0.5, 3: -1})

          0         1         2
0  0.578065  0.500000       NaN
1  1.568490  0.500000       NaN
2  0.205591  0.500000 -1.469113
3 -0.295382  0.500000 -0.469203
4  0.848102 -0.494848 -0.909894
5 -0.030218  1.297651  0.320896
6  0.853856  0.040262  0.803036

fillna returns a new object

## Correlation Matrix

Correlation is a statistical technique that shows how two variables are related. Pandas dataframe.corr() method is used for creating the correlation matrix. It is used to find the pairwise correlation of all columns in the dataframe. Any na values are automatically excluded. For any non-numeric data type columns in the dataframe it is ignored.
To create correlation matrix using pandas, these steps should be taken: 
 

- Obtain the data.
- Create the DataFrame using Pandas.
- Create correlation matrix using Pandas

In [56]:
# import pandas
import pandas as pd
 
# obtaining the data
data = {'A': [45, 37, 42],
        'B': [38, 31, 26],
        'C': [10, 15, 17]
        }
# creation of DataFrame
df = pd.DataFrame(data)
 
# creation of correlation matrix
corrM = df.corr()
 
corrM

          A         B         C
A  1.000000  0.458388 -0.583324
B  0.458388  1.000000 -0.989268
C -0.583324 -0.989268  1.000000

EXERCISE: Drop C and recallculate the corrM

# visualize the correlation matrix

If your main goal is to visualize the correlation matrix, rather than creating a plot per se, the convenient pandas styling options is a viable built-in solution:

In [60]:
import pandas as pd
import numpy as np

rs = np.random.RandomState(0)
df = pd.DataFrame(?.rand(10, 10))
corr = df.corr()
corr.style.background_gradient(cmap='coolwarm')
# 'RdBu_r', 'BrBG_r', & PuOr_r are other good diverging colormaps

AttributeError: module 'numpy' has no attribute 'rand'

In [ ]:
plt.figure(figsize=(11,8))
sns.heatmap(corr, cmap="Greens",annot=True)
plt.show()

## Single corner heatmap

how to only show one corner of the correlation matrix. I find this easier to read myself, since it removes the redundant information.

In [ ]:
# Fill diagonal and upper half with NaNs
mask = np.zeros_like(corr, dtype=bool)
mask[np.triu_indices_from(mask)] = True
corr[mask] = np.nan
(corr
 .style
 .background_gradient(cmap='coolwarm', axis=None, vmin=-1, vmax=1)
 .highlight_null(color='#f1f1f1')  # Color NaNs grey
 .format(precision=2))

When working with correlations between a large number of features I find it useful to cluster related features together. This can be done with the seaborn clustermap plot.

In [ ]:
g = sns.clustermap(?.corr(), 
                   method = 'complete', 
                   cmap   = 'RdBu', 
                   annot  = True, 
                   annot_kws = {'size': 8})
plt.setp(g.ax_heatmap.get_xticklabels(), rotation=60);

## Confusion Matrix

# https://en.wikipedia.org/wiki/Confusion_matrix

It is a table that is used in classification problems to assess where errors in the model were made.

The y-data  represent the actual classes the outcomes should have been. While the y-predicted represent the predictions we have made. Using this table it is easy to see which predictions are wrong.

In [ ]:
import pandas as pd

data = {'y_actual':    [1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0],
        'y_predicted': [1, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0]
        }

dfA = pd.DataFrame(data)
print(dfA)

In [ ]:
#To create the Confusion Matrix using pandas, you’ll need to apply the pd.crosstab as follows:

import pandas as pd

data = {'y_actual':    [1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0],
        'y_predicted': [1, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0]
        }

df = pd.DataFrame(data)

confusion_matrix = pd.crosstab(df['y_actual'], df['y_predicted'], rownames=['Actual'], colnames=['Predicted'])
print(confusion_matrix)

Displaying the Confusion Matrix using seaborn

In [ ]:
import pandas as pd
import seaborn as sn
import matplotlib.pyplot as plt

data = {'y_actual':    [1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0],
        'y_predicted': [1, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0]
        }

df = pd.DataFrame(data)
confusion_matrix = pd.crosstab(df['y_actual'], df['y_predicted'], rownames=['Actual'], colnames=['Predicted'])

sn.heatmap(confusion_matrix, annot=True)
plt.show()

#Results Explained

The Confusion Matrix created has four different quadrants:

- True Negative (Top-Left Quadrant)
- False Positive (Top-Right Quadrant)
- False Negative (Bottom-Left Quadrant)
- True Positive (Bottom-Right Quadrant)
- True means that the values were accurately predicted, False means that there was an error or wrong prediction.

#https://www.w3schools.com/python/python_ml_confusion_matrix.asp

<code style="background:yellow;color:black">Let's do serious work</code>

# Let's do  serious work with real data

This is work presented by Paul Hancock as the 2023 ASa Machine Learning Workshop.This work is credited to him and his team.

We are going to be using a larger data set this time, and one which has only galaxies in it.
You can download and view the data set from this [link](https://raw.githubusercontent.com/PaulHancock/2023-ASA-ML-DeepDive/main/SDSS_10k_Galaxy.csv).
We'll download it directly to our colaboratory using `wget` (if you have it)

In [ ]:
!  wget https://raw.githubusercontent.com/PaulHancock/2023-ASA-ML-DeepDive/main/SDSS_10k_Galaxy.csv

load the data set and inspect it

In [ ]:
galaxy_df = pd.read_csv("SDSS_10k_Galaxy.csv")

In [ ]:
Find the size of data:

In [ ]:
# get a summary of the dataset

### Data scale

Note that the columns have a different mean, std, and min/max.
Also note that some of the columns are either empty (all `NaN`) or information free (constant values).

The regression algorithims that we will use today are distance based methods, which means that they are sensitive to differences in the scale of our features.
For example, we have $\alpha ∈ (-10, +65)$, the $\textrm{objid} ∈ (1e+18,2e+18)$, and $\textrm{redshift} ∈ (-0.001, 2)$.
A "distance" of 1 in each of these dimensions is not equally relevant.

If we plot a histogram for each feature we can see the different scales an distributions of the data.

In [ ]:
# setup a grid of axes ahead of time, otherwise pandas tries to put these all on the same plot
fig, ax = plt.subplots(3,7, figsize=(21, 7))
galaxy_df.hist(grid=True, ax=ax)
plt.show()

In order to eliminate issues with scaling we will transform all our numeric features using a min/max scaler. Some of the features look like they may have a normal or power-law distribution, so min/max might not be the best solution, but this is what we'll go with for now. You can come back and try different scalers at a later time.

The preprocessing classes have a similar interface to the ML models:
- `.fit` to fit the transformer to your data
- `.transform` to return the transformed data
- `.fit_transform` to do both at once

In [ ]:
# Select just the numeric data, copy it because we will modify it
numerics = galaxy_df.select_dtypes(include=np.number)
# create a minmax scaler
minmax = preprocessing.MinMaxScaler()
# "fit" the scaler -> determine the min/max for each column
minmax.fit(numerics)

# Transform the data and save it back to our dataframe
numerics[:] = minmax.transform(numerics)
#        ^ this slicing hack causes the values of the pandas dataframe to
# be overwritten with the values from a numpy array (from the tranform)

In [ ]:
numerics.describe()

Look at our scaled data to check the effects of our code.

You should see all columns have a  𝑚𝑖𝑛=0  and  𝑚𝑎𝑥=1.0  (except for columns which had constant values).

In [ ]:
# describe the data again

In [ ]:
# redo the plot
fig, ax = plt.subplots(3,7, figsize=(21, 7))
numerics.hist(grid=True, ax=ax)
plt.show()

A more compact way to visualise the spread of data within our range $[0,1]$ is to use a box and whisker plot.

Seaborn gives us a fairly nice way to do this, we just have to make sure that we fiddle the axis labels so they don't overlap.

In [ ]:
ax = sns.boxplot(numerics)
ax.set_xticklabels(ax.get_xticklabels(), rotation=45)
plt.show()

Look for missing data (rows/columns)

Most ML models don't know what to do with missing values, and with either complain or (worse) silently give bad results.

If we find missing data then we should consider the following actions:
- remeasure the value
- impute a value (compute using the rest of the data)
- delete the row with missing data
- delete the column with missing data

In [ ]:
#        |--> ask if any of the values are nul/nan, returns a new data frame of true/false
numerics.isna().any()
#              |--> ask if any of the columns contain a true value

SpType: misses values. Let's get rid of it

In [ ]:
numerics=numerics.drop(columns='SpType')

In [ ]:
numerics.isna().any()

Make a copy of the new data:

In [ ]:
X = numerics.copy()

In [ ]:
X.describe()

In [ ]:
X = X.drop(columns=['specobjid','plate'])

In [ ]:
# create our target column
y = numerics['redshift']

## Feature selection'

We now want to start removing features that we don't think are useful. By "useful" we mean that they could help with our regression task, which in this case is predicting the redshifts.

There are a few ways to do this:

- If you have domain knowledge then you can elliminate features a priori (eg. objid should be unrelated to any physical features of a galaxy)
- You can remove features with low variance. The assumption being that low variance means that the feature is unlikely to have much predictive power. (lower variance means more likely to be constant).
- You can look at how well each feature correlates with the target (redshift) and keep only features with high correlation. This assumes a linear realationship between features (but then so do many ML models!)
- You can recursively apply a ML model to different subsets of features and see how well they can predict the target and then eliminate those that do the worst.

In [ ]:
def kb_features(X,y,k):
  """
  Select the k best features based on the mutual information metric

  parameters
  ----------
  X : pandas.DataFrame
    Features for prediction

  y : pandas.DataFrame
    Target features that will be predicted

  k : int
    The number of best features to keep

  returns
  -------
  selected : list
    A list of the k best features that were selected. The ordering
    matches the ordering within the data set X, not the order of 'best-ness'
  """

  # create a feature selection model
  kb = feature_selection.SelectKBest(feature_selection.mutual_info_regression, k=k)

  # fit the model and get the selected features
  kb.fit(X,y)
  kb_selected = kb.get_feature_names_out()

  # make some summary output
  for feature,score in zip(X.columns, kb.scores_):
    print(f"{feature:9s} = {score:5.3f}", end='')
    if feature in kb_selected:
      print(" <- selected")
    else:
      print()

  # return the selected features
  return kb_selected

In [ ]:
# and now 8:select the best features
selected_features = kb_features(X,y,8)

print(f"Selected features: {selected_features}")

In [ ]:
What do you notice about the features being selected?

In [ ]:
selected_features.shape

In [ ]:
X.shape

In [ ]:
y.shape

In [ ]:
# Compute the correlation between each of the numeric parameters as well as the
# target attribute
cor = X.join(y).corr()

# use seaborn to do the plot
fig, ax = plt.subplots(1,1, figsize=(24,24))
sns.heatmap(cor, annot=True, cmap=plt.cm.Reds, ax=ax)
plt.show()